.app-header {
	display: flex;
	margin-top: 8px;
	position: fixed;
	top: 0;
	height: rem(79px);
	width: 100%;
	background-color: rgb(15, 15, 15);
	color: whitesmoke;
	z-index: 1;
	margin-left: 350px;
	// padding-left: 1000px;

	img {
		height: 30px;
		width: 30px;
		border: 3px black solid;
		border-radius: 50%;

		// display: flex;
		// margin-inline-end: 10px;
	}

	span {
		cursor: pointer;
	}

	.login-header {
		text-decoration: none;
	    align-items: end;
		justify-content: end;
		margin-top: 1.625rem;
	
		color: white;

	}

}


.search-input-container {
	display: block;

	input {
		border: none;
		width: em(430px);
		height: em(63px);
		font-size: em(12px);
		border-radius: em(45px);

		background-color: rgb(40, 40, 40);
		color: rgb(255, 255, 255);

		// margin-left: 555px;
	}

	input:focus {
		outline: none;
		border-color: rgb(255, 255, 255);
		border: em(3px) solid whitesmoke;
	}
}

.prev-next-btns {
	margin-inline-end: 170px;
	.btn-go-back,
	.btn-go-next {
		background-color: rgba(0, 0, 0, 0.427);
		margin-top: 1.25rem;
		border: none;
		height: 2rem;
		width: 2rem;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		fill: #ffffff;
	}

	@media (max-width: 768px) {
		.btn-go-back,
		.btn-go-next {
			margin-top: 1rem;
			height: 1.5rem;
			width: 1.5rem;
		}
	}
}
