.side-bar {
	top: 0;
	left: 0;
	transition: 0.15s ease-in-out;
	position: fixed;
	width: 355px;
	padding-left: 5px;
	z-index: 1;
	background-color: #000;
	display: grid;
	grid-area: 1 / 1 / 3 / 2;


	.header-side-bar {
		margin-top: 5px;
		background-color: rgb(15, 15, 15);
		width: 100%;
		height: 112px;
		border-radius: rem(8px);
		margin-bottom: 8px;
		padding-top: 16px;
		padding-bottom: 14px;

		svg {
			margin-top: 4px;
			margin-left: 2px;

		}


		.txt-home {
			margin-top: 5px;
			margin-left: 5.6px;
			font-size: 15px;
			font-weight: 500;
			letter-spacing: 0.7px;

		}

		.txt-home-active {

			margin-top: 5px;
			margin-left: 5.6px;
			font-size: 15px;
			font-weight: 500;
			letter-spacing: 0.7px;
			color: white;
		}

		.txt-search {
			margin-top: 17px;
			margin-left: 4px;
			font-size: 15px;
			letter-spacing: 0.7px;
			font-weight: 500;
		}

		.txt-search-active {
			margin-top: 17px;
			margin-left: 4px;
			font-size: 15px;
			letter-spacing: 0.7px;
			font-weight: 500;
			color: white;

			svg {
				fill: white;
			}
		}

		li {
			margin-bottom: 7px;




		}
	}

	.main-side-bar {

		display: flex;
		flex-direction: column;
		background-color: rgb(15, 15, 15);
       height: 100%;
		border-radius: rem(8px);

		.library {
			display: flex;
			align-items: center;
			margin-left: 24px;
			margin-top: -26px;

			.library-span {
				margin-left: 3px;
				font-size: 15px;
				letter-spacing: 0.8px;
				font-weight: 500;
			}

			svg {
				margin-left: -1px;
			}

			span {
				color: rgba(245, 245, 245, 0.717);

				&:hover {
					color: rgb(255, 255, 255);
				}
			}
		}
	}

	.side-bar-list {
		// display: flex;
		// flex-direction: column;
		list-style: none;
		padding: 0;
		margin-left: em(3px);
		margin-right: em(6px);
		margin-top: em(3px);
	}

	.side-bar-item {
		padding-top: em(12px);
		padding-bottom: em(1px);
		margin-bottom: em(12px);


		.tooltip {
			width: 95px;
			height: 28px;
			font-family: sans-serif;
			font-size: 14px;
			position: absolute;
			background-color: rgb(42, 41, 41);
			color: rgba(245, 245, 245, 0.683);
			padding: 5px;
			border-radius: 3px;
			visibility: hidden;

			top: 100px;
			left: 62px;
			transition: visibility 0.15s, opacity 2s linear;

			z-index: 1;
		}

		.tooltip-container:hover .tooltip {
			visibility: visible;


		}
	}

	.add-library {

		.tooltip-container {
			margin-left: 15px;
		}

		.tooltip {
			width: 100px;
			height: 28px;
			font-family: sans-serif;
			font-size: 14px;
			position: absolute;
			background-color: rgb(42, 41, 41);
			color: rgba(245, 245, 245, 0.683);
			padding: 5px;
			border-radius: 3px;
			visibility: hidden;

			top: 110px;
			left: 245px;
			transition: visibility 0.2s, opacity 1s linear;

			z-index: 1;
		}

		.tooltip-container:hover .tooltip {
			visibility: visible;
			opacity: 20;
		}

		a {
			span {

				margin-left: 40px;

				svg:hover {
					border-radius: 20px;
					background-color: rgba(72, 72, 72, 0.295);
					color: white;
					cursor: pointer;
				}
			}
		}
	}

	.nav-link {
		padding-left: em(26px);
		font-family: sans-serif;
		text-decoration: none;
		color: rgba(245, 245, 245, 0.717);
		font-size: em(12px);
		transition: 0.15s ease-in-out;

		&:hover {
			color: rgb(255, 255, 255);
		}
	}

	.user-station-list {
		margin-left: em(8px);

		.stations-container {
			overflow: auto;
			height: 100vh;



			&::-webkit-scrollbar {
				width: 8px;
				height: 40px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #656565;
				border-radius: 10px;
			}

			&::-webkit-scrollbar-track {
				display: none;
				background-color: #333;
			}
		}

		.side-search-bar {
			display: flex;
			justify-content: start;
			align-items: center;
			font-family: sans-serif;

		

			.side-search-input-container {
				display: flex;
				align-items: center;
				transition: transform 0.7s;
			
			}

			input {
				transform: translateX(-1%);
				width: 150px;
				opacity: 0;
				transition: transform 0.9s, width 0.1s, opacity 0.2s;
			}
			
			input.visible {
				transform: translateX(0%);
				width: 200px;
				opacity: 1;
			}

			.search-icon-navbar {
				z-index: 2;
				cursor: pointer;

				:hover {
					border-radius: 10px;
				}
			}

			.filter-navBar {
				font-size: 13px;
				cursor: pointer;
				padding: 21px;
				align-items: start;
				justify-content: flex-end;
				display: flex;
				margin-left: auto;
				color: rgba(245, 245, 245, 0.683);
			
				&.active {
					.filter-modal {
						display: block;
					}
				}
			}
			
			.filter-modal {
				z-index: 9999;
				position: absolute;
				top: 22%;
				right: 10px;
				width: 150px;
				background: rgb(30, 30, 30, 1.901);
				box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
				border-radius: 5px;
				padding: 4px
				;
				h4 {
					font-size: 10px;
					padding: 10px;
				}
			
				.filter-options {
					font-size: 14px;
					list-style: none;
					color: rgba(229, 229, 229, 0.785);
					padding: 0;
					margin: 0;
			
					li {
						width: 100%;
						height: 40px;
						justify-content: center;
						border-radius: 0;
						align-items: center;
						// justify-content: flex-start;
						padding: 10px;
						cursor: pointer;

						&.active {
							color:aqua
						}
			
						&:hover {
							background-color: rgb(47, 47, 47);
						}
					}
				}
			
				button {
					width: 100%;
					margin-top: 0px;
					padding: 0px;
					background: rgb(30, 30, 30);
					border: none;
					cursor: pointer;
			
					// &:hover {
					// 	background-color: rgb(47, 47, 47);
					// }
				}
			}
			

			.search-icon-navbar {
				position: absolute;

				left: 27px;
				top: 205px;
				fill: rgba(245, 245, 245, 0.717);
			}

			input {
				// display: none;
				margin-left: em(7px);
				color: rgb(255, 255, 255);
				background-color: rgb(40, 40, 40);
				border-radius: 4px;
				font-size: 10px;
				height: 32px;
				width: 90%;
				border: none;
				outline: none;
				margin-bottom: 0px;
				padding-left: 25px;
			}
		}

		.station-preview {

			display: flex;
			align-items: center;
			overflow: hidden;
		}

		li {
			width: 97%;
			height: 65px;
			border-radius: 5px;
			padding-left: 6px;

			&:hover {
				background-color: rgba(24, 24, 24);
			}
		}

		.station-preview img {
			width: 47px;
			height: 47px;
			border-radius: 4px;
		}

		.station-info {
			display: grid;
			flex-direction: column;
			margin-top: 15px;
			padding-left: 12px;
			font-family: 'circular', 'gotham', 'rubik', sans-serif;
		}

		.playlist-name {
			margin-top: -1px;
			font-size: 15px;
			color: rgba(255, 255, 255, 0.925);
		}

		.song-name {
			margin-top: -11px;
			font-size: 13px;

			span {
				color: rgba(245, 245, 245, 0.558);
			}
		}
	}
}