.side-bar {
	top: 0;
	left: 0;
	transition: 0.15s ease-in-out;
	margin-left: 2px;
	position: fixed;
	height: 100%;
	width: 355px;
	z-index: 1;
	background-color: #000;


	.header-side-bar {
		background-color: rgb(15, 15, 15);
		width: 100%;
		height: 115px;
		border-radius: rem(8px);
		margin-bottom: 8px;
        padding-top: 17px;
		padding-bottom: 14px;
        
		svg {
			margin-top: 3px;
			margin-left: 0px;
		}

		.txt-home {
			margin-top: 6px;
			margin-left: 5px;
			font-size: 15px;
			font-weight: 500;
			letter-spacing: 0.7px;
		}
		.txt-search {
			margin-top: 16px;
			margin-left: 4px;
			font-size: 15px;
		
			letter-spacing: 0.7px;
			font-weight: 500;
		}
		li {
			margin-bottom: 7px;
		}
	   
	}

	.main-side-bar {
		background-color: rgb(15, 15, 15);
		width: 100%;
		height: 86vh;
		border-radius: rem(8px);
		// margin-bottom: em(100px);
		// margin-top: em(5px);
	
    
		

		.library {
			display: flex;
			align-items: center;
			margin-left: 23px;
			margin-top: -28px;
            
			.library-span {
				margin-left: 3px ;
				font-size: 15px ;
				letter-spacing: 0.8px;
				font-weight: 500;
			}
            
            svg{
				margin-left: -1px;
			}
			span {
				color: rgba(245, 245, 245, 0.717);

				&:hover {
					color: rgb(255, 255, 255);
				}
			}
		}
	
	}

	.side-bar-list {
		// overflow: hidden;
		list-style: none;
		padding: 0;
		margin-left: em(6px);
		margin-right: em(6px);
		margin-top: em(6px);
	}

	.side-bar-item {
		padding-top: em(12px);
		padding-bottom: em(1px);
		margin-bottom: em(12px);
	}
	.add-library{
		

		a{
			
		
			span{
				
				svg:hover{
					border-radius: 20px;
				
					background-color: rgba(72, 72, 72, 0.295);
					cursor: pointer;
				}
			}


		}
	}

	.nav-link {
		padding-left: em(26px);
		font-family: sans-serif;
		text-decoration: none;
		color: rgba(245, 245, 245, 0.717);
		font-size: em(12px);
		transition: 0.15s ease-in-out;

		&:hover {
			color: rgb(255, 255, 255);
		}
	}

	.user-station-list {
		margin-left: em(8px);

		.stations-container {
			max-height: 70vh;
			overflow-y: auto;
		
			
			&::-webkit-scrollbar {
			  width: 8px; 
			  height: 40px;
			 
			}
		
			&::-webkit-scrollbar-thumb {
			  
			  background-color: #656565; 
			  border-radius: 10px;
			}
		
			&::-webkit-scrollbar-track {
			 display: none;
			  background-color: #333;

			}
		  }

		.side-search-bar {
			input {
				margin-left: em(7px);
				color: rgb(255, 255, 255);
				background-color: rgb(40, 40, 40);
				border-radius: 4px;
				font-size: 10px;
			
				height: 32px;
				width: 100%;
				border: none;
				outline: none;
			}
		}

		.station-preview {
			display: flex;
			align-items: center;
			overflow: hidden;
		}

		li {
			width: 97%;
			height: 65px;
			border-radius: 5px;
			padding-left: 6px;
		

			&:hover {
				background-color: rgba(24, 24, 24);
			}
		}

		.station-preview img {
			width: 47px;
			height: 47px;
			border-radius: 4px;
		}

		.station-info {
			display: grid;
			flex-direction: column;
			margin-top: 15px;
			padding-left: 12px;
			font-family: 'circular', 'gotham', 'rubik', sans-serif;
		}

		.playlist-name {
			margin-top: -1px;
			font-size: 15px;
			color: rgba(255, 255, 255, 0.925);
		}

		.song-name {
			
			margin-top: -10px;
			font-size: 14px;


			span {
				color: rgba(245, 245, 245, 0.558);
			}
		}
	}
}