.search-page {
	// position: fixed;
	top: 60px;
	left: 100px;
	margin-top: 70px;
	margin-left: 353px;
	width: 100%;
	height: 1800px;
	overflow: hidden;

	background-color: #121212;

	.search-icon {
		color: white;
		margin-right: em(2px);
	}

	.search-text {
		color: white;
		font-family: sans-serif;
		margin: 23px;
	}

	.song-list {
		width: 70%;
		height: 100%;
		margin-left: 5px;
		list-style-type: none;

		li {
			display: flex;
			width: 100%;
			height: 55px;
			border-radius: 5px;
			padding-left: 16px;
			gap: 20px;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
		}

		.options {
			padding-right: auto;
			margin-left: auto;
			display: none;
			align-items: center;

			.liked-song-icon {
				padding-right: 20px;
				margin-left: auto;
			}
		}
	}

	li:hover {
		background-color: rgba(72, 72, 72, 0.295);
	
		
		.options {
			padding-right: 20px;
			margin-left: auto;
			display: flex;
		}
	}

	.text-song-name {
		// display: flex;
		flex-grow: 40;
		
	}

	li {
		width: 100%;
		height: 55px;
		border-radius: 5px;
		padding-left: 16px;

		gap: 20px;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		img {
			justify-content: start;
			align-items: start;
			width: 38px;
			height: 38px;
		}
	}
}

.genres-list {
	display: flex;
	list-style-type: none;
	margin-left: -27px;
	margin-bottom: 20px;

	transition: 0.55s ease-in-out;
	flex-wrap: wrap;

	.genre-preview {
		border-radius: 8px;
		cursor: pointer;
		margin: 10px;
		font-family: sans-serif;
		font-size: 1rem;
		font-weight: 700;
		width: 12rem;
		height: 12rem;
		overflow: hidden;
		position: relative;

		img {
			height: 100px;
			width: 100px;
			margin-left: 4.9em;
			margin-top: 2.6em;
			position: absolute;
			-webkit-transform: rotate(20deg) translate(18%, -2%);
			transform: rotate(30deg) translate(18%, -2%);
		}

		h1 {
			font-family: 'circular', 'gotham', 'rubik', sans-serif;
			font-size: 20px;
			font-weight: 700;
			color: #fff;
			margin-left: 6px;
			margin-top: 20px;
		}
	}
}

.modal {
	display: flex;
	position: fixed;
	width: max-content;
	height: max-content;

	// align-items: flex-start;
	// justify-content: flex-start;
	background-color: rgba(30, 30, 30, 0.711);
	flex-direction: column;

	.button-select-modal-add:hover {
		background-color: rgb(47, 47, 47);
	}

	.button-select-modal-close:hover {
		background-color: rgb(47, 47, 47);
	}

	button {
		width: 110px;
		background-color: rgba(30, 30, 30);

		:hover {
			background-color: rgba(47, 47, 47);
		}
	}

	&-content {
		background-color: #fff;
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
		max-width: 100px;

		select {
			list-style-type: none;
			width: 100%;
			padding: 10px;
			margin-bottom: 20px;
		}

		.select-txt {
			color: black;
		}

		button {
			padding: 20px 20px;

			border: none;
			border-radius: 5px;
			cursor: pointer;

			&.add-to-playlist {
				background-color: #c1c1c1;
			}

			&.close-modal {
				background-color: #b0b0b0;
			}
		}

		button + button {
			margin-left: 10px;
		}
	}
}
