.search-page {
	grid-area: 2/2;
	max-width: 100%;

	background-color: #121212;

	.station-list {


		li {
			-webkit-box-flex: 1;
			border-radius: rem(8px);
			padding: rem(16px);
			-webkit-transition: background-color 0.3s ease;
			transition: background-color 0.3s ease;
			width: 100%;
			height: 100%;
			background-color: $accent-clr;
			display: grid;

			.img-container {
				position: relative;
				height: fit-content;

				img {
					width: 100%;
					height: 100%;
					border-radius: em(6px);
				}
			}
		}
	}

	.search-icon {
		color: white;
		margin-right: em(2px);
	}

	.search-text {
		color: white;
		font-family: sans-serif;
		margin: 23px;
	}

	.song-list {
		display: flex;
		flex-direction: row;

		width: max-content;
		height: max-content;
		margin-left: 5px;
		list-style-type: none;


		.artist-page {
			// display: flex;
			// flex-direction: column;
			border-radius: 10px;
			width: 370px;
			height: 200px;
		
			background-color: rgba(24, 24, 24);

			img {
				margin-left: 23px;
				margin-block-start: 15px;
				border-radius: 100%;
				width: 100px;
				height: 100px;
				box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
			}

			.text-artist-name {
				margin-left: 23px;
				font-size: 27px;
				font-weight: 600;
				color: #fff;

			}

		}

		li {
			display: flex;
             
			width: 100%;
			height: 55px;
			border-radius: 5px;
			padding-left: 16px;
			gap: 20px;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;

			.like-btn:hover {
				opacity: 1 !important;
			}
		}

		.options {
			display: flex;
			padding-right: auto;
			margin-left: auto;
			align-items: center;
			justify-content: center;

			.svg-option {
				display: none;
				position: fixed;
				margin-right: -15px;
			}

			.liked-song-icon {
				margin-top: 7px;
				margin-right: 30px;
				padding-right: 20px;
				margin-left: auto;
			}
		}
		.song-list-list {
			display: flex;
			flex-direction: column;
		}
	}

	li:hover {
		background-color: rgba(72, 72, 72, 0.295);

		.options {

			.svg-option {
				display: flex;
			}

			.like-btn {
				opacity: 1 !important;
			}

		}
	}

	.text-song-name {
		flex-grow: 40;
	}

	li {
		width: 100%;
		height: 55px;
		border-radius: 5px;
		padding-left: 16px;

		gap: 20px;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		img {
			justify-content: start;
			align-items: start;
			width: 38px;
			height: 38px;
		}
	}
}

.genres-list {
	display: flex;
	list-style-type: none;
	margin-left: -27px;
	margin-bottom: 20px;

	transition: 0.55s ease-in-out;
	flex-wrap: wrap;

	.genre-preview {
		border-radius: 8px;
		cursor: pointer;
		margin: 10px;
		font-family: sans-serif;
		font-size: 1rem;
		font-weight: 700;
		width: 12rem;
		height: 12rem;
		overflow: hidden;
		position: relative;

		img {
			height: 100px;
			width: 100px;
			margin-left: 4.9em;
			margin-top: 2.6em;
			position: absolute;
			-webkit-transform: rotate(20deg) translate(18%, -2%);
			transform: rotate(30deg) translate(18%, -2%);
		}

		h1 {
			font-family: 'circular', 'gotham', 'rubik', sans-serif;
			font-size: 20px;
			font-weight: 700;
			color: #fff;
			margin-left: 6px;
			margin-top: 20px;
		}
	}
}

.modal {
	display: flex;
	position: fixed;
	width: max-content;
	height: max-content;
	align-items: center;
	background-color: rgba(48, 47, 47, 0.711);
	flex-direction: column;

	.button-select-modal-add:hover {
		background-color: rgb(47, 47, 47);


	}

	.button-select-modal-close:hover {
		background-color: rgb(47, 47, 47);
	}

	button {
		width: 90%;
		background-color: rgba(30, 30, 30);

		:hover {
			background-color: rgba(47, 47, 47);
		}
	}

	&-content {
		background-color: #fff;
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
		max-width: 100px;

		select {
			background-color: #b0b0b0;
			list-style-type: none;
			width: 100%;
			padding: 20px;
			margin-bottom: 20px;
		}

		.select-txt {
			color: black;
		}

		button {
			padding: 20px 20px;

			border: none;
			border-radius: 5px;
			cursor: pointer;

			&.add-to-playlist {
				background-color: #c1c1c1;
			}

			&.close-modal {
				background-color: #b0b0b0;
			}
		}

		button+button {
			margin-left: 10px;
		}
	}
}