.user-msg {
	color: black;
	padding: 3px;
	font-size: 18px;
	position: fixed;
	top: 81.5%;
	right: 43%;
	border-radius: 8px;
	border: transparent;
	box-shadow: transparent;
	z-index: 40;
}

.user-msg button {
	float: right;
	border: 0;
	border-radius: 50%;
	margin: em(5px);
	background-color: #222;
}

.user-msg.success {
	background-color: #ffffff;
}

.user-msg.error {
	background-color: #ffffff;
}
