* {
	box-sizing: border-box;
}

::selection {
	background-color: $green-main-btn-clr;
	color: $clr6;
}

html {
	line-height: 1.6;
	overflow-x: hidden;
}

body {
	font-size: rem(18px);
	background-color: black;
	margin: 0;
	height: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.6em;
	line-height: 1;
}

section,
main,
footer {
	padding: em(2px);
}

img {
	width: 100%;
}

p {
	margin: 0 0 1em;
}

a {
	text-decoration: none;
}
