button {
	border: 0;
	background-color: $green-main-btn-clr;
	color: whitesmoke;
	padding: em(5px) em(10px);
	margin: em(5px);
	cursor: pointer;
}

form > * {
	display: block;
	width: rem(200px);
	margin: rem(10px) 0px;
}

.btn-link {
	border: 0;
	background-color: transparent;
	text-decoration: underline;
	transition: 0.5s;
}

.btn-link:hover {
	background-color: $green-main-btn-clr;
	transform: scale(1.1);
}
