.app-container {
	display: grid;
	height: 100vh;
	background: $main-bgc-ing1;
	background: $main-bgc-ing2;
	grid-template-columns: em(242px) auto;
	grid-template-rows: 1fr em(90px);
}

.main-layout{
	display: grid;
	grid-template-columns: 355px 1fr;
	grid-template-rows: 80px 1fr;
	height: 100vh;
}
.main-container {
	display: grid;
	grid-template-columns: em(20px) 1fr rem(20px);

	> * {
		grid-column: 3;

		&.full {
			grid-column: 1 /-1;
		}
	}

	// @include for-narrow-layout {
	// 	grid-template-columns:
	// 		1fr
	// 		minmax(auto, $mobile-breakpoint)
	// 		minmax(20px, 1fr);
	// }

	// @include for-normal-layout {
	// 	grid-template-columns:
	// 		minmax(20px, 1fr)
	// 		minmax(auto, $narrow-breakpoint)
	// 		minmax(20px, 1fr);
	// }

	// @include for-wide-layout {
	// 	grid-template-columns:
	// 		minmax(20px, 1fr)
	// 		minmax(auto, $normal-breakpoint)
	// 		minmax(20px, 1fr);
	// }
}
