.station-details {
	display: grid;
	margin-bottom: auto;
	margin-bottom: 95px;
	background-color: rgb(21, 21, 21);
	grid-area: 2/2;
	height: max-content;
	margin-right: 5px;

	.search-song-txt {
		margin-top: 30px;
		margin-left: 20px;
		padding-left: 15px;
		color: white;
		font-family: sans-serif;
		font-size: 22px;
	}

	.station-header {
		display: flex;
		color: aliceblue;
		align-items: center;
		position: relative;
		padding-block-end: 20px;

		.fade {
			width: 100%;
			position: absolute;
			height: 190px;
			bottom: 0;
			transform: translateY(100%);
		}

		.title {
			display: grid;
			font-family: sans-serif;
			margin-inline-start: 17px;

			h1 {
				font-size: 6rem;
				margin: 0;
			}

			.info {
				display: grid;
				margin-block-start: 1em;

			}

			.with-modal {
				cursor: pointer;

			}

			span {
				margin-block-start: 5px;
				color: white;
			}
		}

		div {
			align-self: flex-end;
		}

		img {
			margin-inline-start: 17px;
			width: 192px;
			height: 192px;
		}

		p {
			margin-inline-start: em(20px);
		}
	}

	.station-options {
		display: flex;
		align-items: center;
		margin-left: 13px;
		width: 102%;
		height: 100px;
		gap: 16px;
		z-index: 1;

		.options-modal {
			background-color: #282828;
			padding: 5px;
			border-radius: 4px;

			.modal-options-content {
				display: grid;

				span {
					display: flex;
					align-items: center;
					gap: 10px;
					cursor: pointer;
					border-bottom: 1px solid #7e7e7e;
					font-size: 14px;
					padding: 10px;
					height: 40px;

					&:hover {
						background-color: hsla(0, 0%, 100%, .1);
					}
				}
			}
		}

		.btn-play-playlist {
			height: 48px;
			width: 48px;
			background-color: $clr4;
			padding: 10px;
			border-radius: 50%;
			border: none;
			right: 3%;
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover {
				scale: 1.05
			}
		}

		span {
			svg {
				scale: 1.5;
				margin-left: 10px;
				fill: currentcolor;
				cursor: pointer;
			}
		}

		.options-btn:hover {
			svg {
				fill: #fff;
				scale: 1.6;
			}
		}
	}

	.song-list-container {
		color: white;
		width: 100%;

		.song-list-header {
			grid-gap: 10px;
			align-items: center;
			color: #b3b3b3;
			display: grid;
			font-family: CircularMedium, Rubik-Light;
			font-size: 0.875rem;
			gap: 10px;
			grid-template-columns: 16px 6fr 4fr 3fr 1fr minmax(40px, 1fr);

			height: 56px;
			padding-left: 15px;
			margin-left: 20px;
			border-bottom: 1px solid hsla(0, 0%, 100%, .1);

			.clock-icon {
				justify-self: end;
			}

		}

		.song-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			margin-left: 20px;
			border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);

			li {
				grid-gap: 10px;
				align-items: center;
				color: #b3b3b3;
				display: grid;
				font-family: CircularMedium, Rubik-Light;
				font-size: 0.875rem;
				gap: 10px;
				grid-template-columns: 16px 6fr 4fr 3fr 1fr minmax(40px, 1fr);

				height: 56px;
				padding-left: 15px;
				position: relative;

				&:hover {
					cursor: pointer;

					.like-btn {
						opacity: 1 !important;
					}

					.idx {
						display: none;
					}

					.song-play-btn {
						display: block;
					}

					.options {
						display: flex;

						svg {
							fill: currentColor
						}
					}
				}

				.song-dur {
					justify-self: end;
				}

				.like-btn {
					justify-self: end;
					margin-right: 20px;
					display: flex;
					opacity: 0;

					&:hover {

						cursor: pointer;
					}
				}

				.icon {
					position: relative;
					display: flex;
					justify-content: space-between;
					width: 13px;
					height: 13px;
					gap: 1px;

					.bar {
						width: 3px;
						height: 100%;
						background-color: $green-main-btn-clr;
						border-radius: 3px;
						transform-origin: bottom;
						animation: bounce 2.2s ease infinite alternate;
						content: '';
						content: '';

						@keyframes bounce {
							10% {
								transform: scaleY(0.3);
							}

							30% {
								transform: scaleY(1);
							}

							60% {
								transform: scaleY(0.5);
							}

							80% {
								transform: scaleY(0.75);
							}

							100% {
								transform: scaleY(0.6);
							}
						}
					}

					.bar {
						&:nth-of-type(2) {
							animation-delay: -2.2s;
						}

						&:nth-of-type(3) {
							animation-delay: -3.7s;
						}
					}
				}

				.idx {
					display: flex;
					align-items: center;

					justify-content: center;
				}

				.options {
					display: none;
				}

				.song-play-btn {
					display: flex;
					align-items: center;

					justify-content: center;

					display: none;
				}

				button {
					background-color: transparent;
				}

				.details {
					display: flex;
					align-items: center;
					align-items: center;
					grid-column: 2;
					grid-row: 1;

					img {
						height: 40px;
						margin-right: 16px;
						width: 40px;
					}

					span {
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
			}

			.song-modal {
				background-color: #4c4c4c;
				padding: 5px;
				position: absolute;
				right: 0;

				.song-modal-content {
					display: grid;


					button {
						display: flex;
						align-items: center;
						gap: 10px;
						cursor: pointer;
						border-bottom: 1px solid #7e7e7e;
						margin: 0;


						&:hover {
							background-color: hsla(0, 0%, 100%, .1);
						}
					}
				}
			}

			li:hover {
				background-color: #71717158;
				border-radius: 4px;
			}
		}
	}
}

.song-list-search {
	list-style-type: none;
	margin-left: 20px;
	padding-left: 15px;
	margin-right: 20px;

	li {
		display: flex;
		height: 56px;
		gap: 10px;
		align-items: center;
		border-radius: 4px;
		padding: 0px 11px;

		&:hover {
			background-color: hsla(0, 0%, 100%, 0.1);
		}
	}

	.options {
		height: inherit;
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;

		button {
			align-items: center;
			background-color: transparent;
			border: 2px solid #717171;
			border-radius: 500px;
			color: #f5f5f5;
			cursor: pointer;
			display: flex;
			font-size: 1rem;
			margin: 5px;
			padding: 0.4em 1em;
			transition-duration: 133ms;

			&:hover {
				border-color: #fff;
			}
		}
	}

	img {
		width: 40px;
		height: 40px;
	}
}

.song-search {
	margin-left: 20px;
	padding-left: 15px;

	.search-bar {
		.search-input-container {
			input {
				border-radius: 4px;
				height: 40px;
				opacity: 1;
			}

			input:focus {
				outline: none;

				border: none;

				.search-icon {
					fill: #fff;
				}
			}
		}
	}
}

/* CSS for Modal */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.details-modal {
	padding: 20px;
	position: relative;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 524px;
	background-color: #282828;
	border-radius: 8px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);

	.choose-photo {
		position: absolute;
		display: grid;
		width: 180px;
		height: 180px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: rgba(0, 0, 0, .7);
		opacity: 0;
		z-index: 2;

		&:hover {
			opacity: 1;
		}

	}

	p {
		margin-block: 0px;
		font-size: 0.6875rem;
		font-weight: 700;
		color: #fff;
	}

	.modal-header {
		display: flex;
		justify-content: space-between;
		padding: 10px 24px;
		width: 100%;

		h2 {
			color: #fff;
			line-height: 1;
			margin-block: 0px;
			font-size: 1.5rem;
			font-weight: 700;
		}

		span {
			cursor: pointer;
		}
	}

	form {
		display: grid;

		grid-template: 32px 132px 32px auto/180px 1fr;
		grid-template-areas:
			'img title'
			'img desc'
			'. btn';
		gap: 16px;
		padding: 0 24px 24px;

		.image {
			grid-area: img;
			height: 180px;
			width: 180px;

		}

		.title {
			background: hsla(0, 0%, 100%, 0.1);
			border: 1px solid transparent;
			border-radius: 4px;
			color: #fff;
			font-family: inherit;
			font-size: 14px;
			height: 40px;
			padding: 0 12px;
			width: 100%;
			grid-area: title;
		}

		textarea {
			background: hsla(0, 0%, 100%, 0.1);
			border: 1px solid transparent;
			border-radius: 4px;
			color: #fff;
			font-family: inherit;
			font-size: 14px;
			height: 100%;
			padding: 8px 8px 28px;
			resize: none;
			width: 100%;
			grid-area: desc;
		}

		button {
			grid-area: btn;
			background-color: white;
			color: black;
			display: inline-block;
			width: 100px;
			height: 50px;
			border-radius: 500px;
			font-weight: 700;
			justify-self: flex-end;
		}

		.file {
			position: absolute;
			width: 180px;
			height: 180px;
			cursor: pointer;
			opacity: 0;
			z-index: 2;

		}
	}
}