.station-details {
	display: grid;
	margin-left: em(300px);

	header {
		display: flex;
		color: aliceblue;

		h1 {
			font-size: 6rem;
		}

		img {
			width: em(192px);
		}

		p {
			margin-inline-start: em(20px);
		}
	}

	table {
		color: white;
		width: 100%;
		tr {
			cursor: pointer;
		}

		th {
			text-align: left;
		}

		td {
			text-align: left;
		}

		img {
			width: rem(40px);
		}
	}
}
.song-list {
	margin-left: 205px;

	list-style-type: none;

	li {
		display: flex;
		height: 50px;
		gap: 10px;
		cursor: pointer;
		.options{
			height: inherit;
		
		}
		img {
			width: 40px;
			height: 40px;
		}
	}
}
.song-search{

	.search-input-container{
		input{
			margin-left: 0;
		}
	}
}