.station-details {
    margin-left: 202px;
    margin-top: 90px;

    header {
        display:flex;

                color: aliceblue;

        h1 {
            font-size: 6rem;
        }

        img {
            width: 192px;
        }
        p{
           margin-inline-start: 20px;
        }
    }
table{
    color: white;
    width: 100%;
    th{
        text-align: left;
    }
    td{
        text-align: left;
    }
    img{
        width: 40px;
    }
}
}