.station-list {
	display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat($column-count,minmax(0,1fr));
    min-width: $min-container-width;
	li {
		-webkit-box-flex: 1;
		border-radius: 8px;
		-ms-flex: 1;
		flex: 1;
		isolation: isolate;
		padding: 16px;
		position: relative;
		-webkit-transition: background-color .3s ease;
		transition: background-color .3s ease;
		width: 100%;
		background-color: $accent-clr;
		color: $clr6;
		&:hover{
			background-color: #282828;
			cursor: pointer;
		}
		img{
			width: 130px;
			height: 130px;
			border-radius: 6px;
		}
		p{
			-webkit-tap-highlight-color: transparent;
			margin-block: 0px;
			font-size: 0.8125rem;
			font-weight: 400;
			color: #a7a7a7;
		}
	}

	a {
		color: $green-main-btn-clr;
		padding: 10px;
	}

	h3 {
		background-color: #ddd;
		padding: 10px 5px;
		margin: 5px;
	}
}
