@font-face {
	font-family: spotify-font;
	src: url('../fonts/Spotify-Font/GothamMedium.ttf');
}

@font-face {
	font-family: spotify-font-small;
	src: url('../fonts/Spotify-Font/Gotham-Light.otf');
}
