// @font-face {
// 	font-family: spotify-font;
// 	src: url('../fonts/Spotify-Font/GothamMedium.ttf');
// }
// @font-face {
// 	font-family: spotify-font-small;
// 	src: url('../fonts/Spotify-Font/Gotham-Light.otf');
// }
@font-face {
	font-family: CircularStd-Title-Bold;
	src: url('../fonts/Spotify-Font/circular-std-medium-500.ttf');
}
@font-face {
    font-family: CircularStd-Title-Bold;
    src: url('../fonts/Spotify-Font/CircularSp-Bold-fe1cfc14b7498b187c78fa72fb72d148.woff2');
}
@font-face {
    font-family: CircularStd-Bold;
    src: url('../fonts/Spotify-Font/CircularSp-Bold-fe1cfc14b7498b187c78fa72fb72d148.woff2');
}